h1 {
  color: #F90;
  padding: 10px;
}

h1#site-title {
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 40%;
  color: #F90;
  height: 30px;
  padding: 10px;
}

hr {
  background: #FF9900 none repeat scroll 0 0;
  border: medium none;
  clear: both;
  color: #FF9900;
  float: none;
  height: 1px;
  margin: 0 0 1.45em;
  width: 100%;
  display: block;
}

img#ajax-loader {
  padding: 0 10px;
  vertical-align: middle;
}
